#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.pidb
*.user
*.aps
*.pch
*.docstates
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.dbmdl
*.schemaview
*.tlh
*.bak
*.cache
*.ilk
*.log
*_ReSharper*
*.suo
*Backup*
*/obj/Debug/*
*/bin/Debug/*.*
*.suo
*/bin/*.dll